/* root 1em = 16px */
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3rem;
}

.rem-title {
  font-size: 2.4rem;
}
.rem-text {
  font-size: 1.5rem;
}

.em-title {
  font-size: 2em;
}
.em-text {
  font-size: 1.5em;
}

article {
  /* font-size: 2em; */
}

.test {
  /* font-size: 2em; */
}

/* Buttons */

.btn {
  font-size: 2rem;
  border: none;
  background-color: #dedede;
  padding: 8px 16px;
  padding: 0.5em 1.2em;
  line-height: 1;
}

.btn-small {
  font-size: 1.2rem;
}

.btn-large {
  font-size: 5rem;
}

.btn-huge {
  font-size: 10rem;
}
