/* try out specificity an cascading */
main {
  color: green;
}
/* stiprumas id yra 100 */
#special {
  color: #32cd32;
}

/* stiprumas klases yra 10 */
.primary {
  color: tomato !important ;
}
/* stiprumas zymos (tag) yra 1 */
p {
  font-weight: bold;
}

p {
  font-weight: normal;
}

.blue {
  color: blue;
}
/* nusitaikyti i elementa su klase blue ir green */
/* selectoriaus stiprumas yra 20 = 10 + 10 */
.blue.green {
  background-color: limegreen;
  color: wheat;
}
